<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sampleServlet</servlet-name>
        <servlet-class>servlets.sampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newTrainer</servlet-name>
        <servlet-class>servlets.newTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPoke</servlet-name>
        <servlet-class>servlets.newPoke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPoke</servlet-name>
        <servlet-class>servlets.viewPoke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delPoke</servlet-name>
        <servlet-class>servlets.delPoke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLife</servlet-name>
        <servlet-class>servlets.upLife</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sampleServlet</servlet-name>
        <url-pattern>/sampleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newTrainer</servlet-name>
        <url-pattern>/newTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPoke</servlet-name>
        <url-pattern>/newPoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPoke</servlet-name>
        <url-pattern>/viewPoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delPoke</servlet-name>
        <url-pattern>/delPoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLife</servlet-name>
        <url-pattern>/upLife</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
